* {
	font-family: sans-serif;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	text-align: center;
	margin:0;
	padding:10px;
	font-size: 80px;
	text-transform: uppercase;
}

h1 a {
	color: white;
}

#menu {
	display: flex;
	justify-content: space-evenly;
	background-color: midnightblue;
}

#menu ul{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding:0;
	width: 60%;
}

.auth-panel ul {
	width: 100% !important;
}

.auth-panel ul li {
	border: 1px solid white;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
}

#menu ul li {
	font-size:24px;
	text-align: center;
	display: inline-block;
	list-style-type: none;
	margin-right: 10px;
}

#menu ul li a {
	color: white;
}

#main{
	width:100%;
	margin: auto;
}

#header, #container, #footer {
	width:100%;
}

#header, #footer {
	background-color: midnightblue;
}

#header {
	padding: 10px;
}

#container {
	display:flex;
}

.sidebar {
	background-color: midnightblue;
	width: 20%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding:10px 10px 10px 30px;
	color: white;
}

@media only screen and (max-width: 768px) {
	width: 25%;
}

#main-page .sidebar {
	height:1200px;
}

#contact-page .sidebar {
	height:650px;
}

.sidebar a {
	color: white;
}

.outlet {
	width: 79%;
	height:100%;
	background-color: white;
}

#footer .links {
	display: flex;
	color: white;
	width: 100%;
}

#footer {
	padding: 10px;
	color: white;
}

#footer .links ul {
	margin: 0;
	display: block;
	width: 25%;
}

#footer li {
	margin-bottom: 5px;
	list-style-type: none;
}

#footer .links ul li a{
	color: white;	
}

#footer h3 {
	text-align: right;
}

.main-box {
	width:80%;
	padding: 10px;
	margin: auto;
	border-bottom: 1px solid midnightblue;
}

.main-box img {
	width: 75%;
	height: 400px;
	margin: auto;
	display: block;
	border-radius: 10px;
}

.main-box h2{
	color: midnightblue;
	text-align: center;
}

.main-box .read-more {
	text-align: right;
}

.read-more a{
	color: midnightblue;
	font-weight: bold;
}

.other-news {
	margin: auto;
	width: 80%;
}

.other-news h2, .pop-news-item h2 {
	color: midnightblue;
	text-align: center;
}

.pop-news {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
}

.pop-news-item {
	width: 30%;
	padding:5px;
}

.pop-news-item img {
	width:100%;
	border-radius:10px;
}

.pop-news-item .read-more {
	text-align: right;
}

#contact-us{
	width:80%;
	margin:10px auto;
	padding: 10px;
	border: 1px solid midnightblue;
	border-radius: 20px;
}

.row {
	display: flex;
}

#contact-us h2 {
	font-size: 3em;
	text-align: center;
	color: midnightblue;
}

#contact-us .form-group{
	width: 100%;
}

#contact-us .form-group input {
	width: inherit;
	border: 1px solid midnightblue;
	border-radius: 10px;
	font-size: 20px;
	margin-bottom: 5px;
}

#contact-us .form-group label {
	color: midnightblue;
	font-weight: bold;
}

#contact-us textarea {
	max-height: 200px;
	min-height: 200px;
	min-width: 100%;
	max-width: 100%;
	border: 1px solid midnightblue;
	border-radius: 10px;
	font-size: 20px;
}

.contact-form {
	width: 70%;
}

#contact-us input[type="submit"] {
	display: block;
	margin:auto;
	background-color: midnightblue;
	color: white;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	padding: 5px;
}

.contact-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 28%;
}

.contact-icon img {
	display: block;
	width: 50%;
}